@import "../../assets/_variables.scss";

.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #E9EAEC;
    @media screen and (max-width: 490px){
        flex-wrap: wrap;
    }
}
h1{
    font-size: $title-size;
    font-weight: 700;
    margin-bottom: 8px;
    @media screen and (max-width: 930px){
        font-size: 30px;
    }
}

.subtitle{
    opacity: 0.7;
    margin-bottom: 32px;
}
.btn{
    img{
        padding-right: 8px;
    }
    @media screen and (max-width: 480px){
        margin-bottom: 20px;
    }
}


