@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './_variables.scss';

*{
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
}

a,
a:active,
a:visited,
a img {
  outline: none;
  text-decoration: none;
  color: black;
}

body{
  background: #F8F8F8;
  font-family: 'Inter', sans-serif;
  color: #2B3844;
  //overflow-x: hidden;
}

.content{
  //margin: 0 0 0 274px;
  //padding: 48px 56px;
  //max-width: 1214px;
  //width: (100%/12)*10;
  //position: relative;
  padding: 53px 0;
}

.App{
  display: flex;
  width: 100%;
  height: 100%;

  .content-container {
    flex: 4;
    padding: 64px 56px;
    overflow-y: scroll;

    @media screen and (max-width: 930px){
      padding: 64px 35px;
    }

    @media screen and (max-width: 700px){
      margin-top: 110px;
      padding: 20px;
    }
  }
}


.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $btn-size;
  border-radius: 3px;
  background: $blue;
  color: $white;
  height: 52px;
  padding: 0 32px;
  cursor: pointer;
  border: 0;

  @media screen and (max-width: 930px){
    padding: 0 20px;
  }
}

label{
  font-size: 12px;
  line-height: 12px;
  color: #354352;
}

input{
  border: 1px solid #C5C8CB;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  border-radius: 3px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 8px;
  color: $text-color;
}

::-webkit-input-placeholder { /* WebKit browsers */
  opacity: 0.25;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity: 0.25;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity: 0.25;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  opacity: 0.25;
}
.red{
  border: 1px solid red;
}
